.shade {
	user-select: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	background: white;
	width: 80%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.04);
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: contain;
}

.content {
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	white-space: pre-wrap;
}

 .rightTopClose {
	width: 14px;
	height: 14px;
	position: absolute;
	background: url(./static/jj_close_icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	top: 15px;
	right: 15px;
}

